{% extends 'base.html' %}
{% load auth_extras %}

{% block content %}
<hr>
<h3>User Profile Data</h3>
  {% if user.is_authenticated %}
    
           <li><a href="{% url edit_profile user.pk %}">Add Phone</a></li>
           {% if socialaccount %}
            <p>You're logged in as <strong>{{ user.socialaccount_set.all.0.user }}</strong>.</p>
            ksksk

      <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
      <ul>

       

      
      </ul>
      {% endif %}
  {% endif %}


  </script>
{% endblock content %}
