      
{% extends 'base.html'%}
{% block content %}

<div id>
<p>

<style>
.wsm-overlay
{
	background: #000;
	position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:99998;
    color:white;
    filter:alpha(opacity=60);
	-moz-opacity:0.6;  
	-khtml-opacity: 0.6;
	opacity: 0.6;
	display: none;
}
.wsm-popup-container
{
	background:#e3f97f;
	position:absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    margin-top: -200px; /*set to a negative number 1/2 of your height*/
    margin-left: -225px; /*set to a negative number 1/2 of your width*/
     color:#4a4a00;
   -webkit-border-radius:4px;	
	-moz-border-radius:4px;	
	border-radius:4px;
    z-index:99999;
    display: none;
}
.wsm-popup-title
{
	background: #000000;
	padding: 5px;
	text-align:center;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}
.wsm-popup-close
{
	position:absolute;
	right:3px;
	top:3px;
}
.wsm-popup-close a
{
	background: #000000;
	color: #CCCCCC;
	padding: 3px 5px;
	font-weight:bold;
	font-size:14px;
}
.wsm-popup-content
{
	background: #fff;
	padding: 6px;
}
</style>
<script type="text/javascript">

jQuery(function(){

var frmHtml= {% spaceless %}"<form action='{% url edit_profile user.pk %}' method='POST'>
    {% csrf_token %}
    {% if phone_number %} <p>{{phone_number}}</p> {% endif %}
    <div style='list-style:none;'>
    {{form.as_ul|addslashes }}
</div>
    <input type='submit' value='Edit profile'/>
</form>;"
{% endspaceless %}
					wsmShowPopUp('Edit profile',frmHtml,true);
				});
				
</script>

</p>
</div>
{% endblock %}